// login
@import "color";

:root {
  --header-height: 68px; /* 默认值header高度 */
  --footer-height: 48px; /* 默认值footer高度 */
}

.login_container {
    max-width: 100% !important;
    display: flex;
    overflow: hidden;
    height: calc(100vh - (var(--header-height) + var(--footer-height)));
    @media screen and (max-width:767px) {
      display: block;
    }
}

.login {
    flex: 0 0 auto;
     width: 41.66667%;
    padding: 30px;
    // height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F1F2F7;
    
    @media screen and (max-width:767px) {
      width: 100%; 
      position: relative;
      z-index: 2;
      background: transparent;
      // height: 100vh;
    }
    .login_tit {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 1em;
        letter-spacing: 5px;
        .login_logo{
          display: none;
          max-width:70%;
          margin: 0em auto 1rem;
          @media screen and (max-width:767px) {
            display: block;
          }
        }
    }

    #login {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 1.4rem;
        .login_input {
            width: 80%;
            margin-bottom: 15px;
            label{
              width: 100%;
              margin-bottom: 6px;
            }
            .input-group-text{
              background: $morange;
              max-width: 44px;
              i{
                color: #444;
              }
            }
        }

        input { 
            border:none;
            // margin: 6px 0 15px;
            // width: 100%;
            height: 50px;
            font-size: 1.1rem;
            padding: 10px;
            border-radius:5px;
            &:focus{
              outline: 2px solid #F6930E;
            }
        }

    }

}

.login_bg {
    position: relative;
    background: url("../images/login_bg.jpg") no-repeat;
    background-size: cover ;
    background-position: left bottom;
    // height: 100vh;
    overflow: hidden;
    flex: 0 0 auto;  
    width: 58.33333%;
    @media screen and (max-width:767px) {
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        display: block;
        margin: auto;
        opacity: 0.35;
        background-size: cover;
        z-index: 0;
        .login_logo{
          display: none;
        }
    }
    .login_logo {
        position: absolute;
        left: 50%;
        top: 28%;
        transform: translate(-50%, -50%);
    }

    
}

.login_btn{
  background: #F6930E;
  color:#fff;
  border:none;
  font-size: 1.4rem;
  padding: 6px 2em;
  margin-top: 2rem;
  border-radius: 5px;
  cursor: pointer;
  &:hover{
    background: $myellow;
  }
}

.resetPW{
  font-size: 1.2rem;
}