@import 'color';
section{
    border-bottom:1px solid #cfcfcf;
    padding: 4.5vh 0;
    &:last-child{
        border-bottom:none;
        padding-bottom: 1.5rem;
    }
}
option{
    font-size: 1.1rem;
}

.text-danger{
    color: $morange;
}
.fs-xs{
    font-size: 0.9rem;
}
.block{
    display: flex;
    @media screen and (max-width:1400px) {
        display: block;
    }
    @media screen and (max-width:1024px) {
        flex-wrap: wrap;
    }
    .title{
        color:$mgray;
        font-weight: bold;
        width: 7em;
        margin-left: -5%;
        padding-left: 1rem;
        font-size: 1.5rem;
        position: relative;
        flex-shrink: 0;
        @media screen and (max-width:1400px) {
           margin-left: 0;
           width: 100%;
        }
        @media screen and (max-width:1024px){
            margin-left: 0;
            margin-bottom: 2rem;
            padding-left: 0;
            width: 100%;
        }
        >span{
            font-size: 0.9rem;
            display: block;
            margin-top: 1rem;
            margin-left: 0.2rem;
            line-height: 1.5;
            color: #dc3545;
            font-weight: 400;
            text-align: justify;
        }
        
        .fa-info-circle{
            cursor: pointer;
            .nav-img{
               opacity: 0;
               max-width: 0;
               position: absolute;
                top: -40px;
                left: 80%;
                z-index: -99;
               transition: all 1s;
               padding-left:20%;

               &.show-img{
                z-index: 999;
                    opacity: 1;
                    transition: opacity 0.5s,max-width 0.5s;
                    img{
                        width: 70vw;
                        max-width: none;
                        border: 2px solid #f6930e;
                        filter: drop-shadow(2px 2px 6px #ccc);
                        border-radius: 10px;
                        
                    }
                    
               }
               @media screen and (max-width:1400px) {
               left: 0;
               top: 0;
             }
               
            }
            // &:hover{
            //     color: $morange;
            //     .nav-img{
            //         z-index: 999;
            //         opacity: 1;
            //         transition: opacity 1.5s,max-width 1.5s;
            //         img{
            //             width: 70vw;
            //             max-width: none;
            //             border: 2px solid #f6930e;
            //             filter: drop-shadow(2px 2px 6px #ccc);
            //             border-radius: 10px;
            //         }
            //     }
            // }
        }
    }
}
.block.block3.mainForm{
    >.row{
        @media screen and (max-width:1400px) {
            // margin-left: -3%;
            margin-top: 2rem;
        }
    }
}

// 快速連結
.links{
    position: fixed;
    top: 30%;
    right: 5px;
    // background: #ffffffa1;
    padding: 10px 10px;
    z-index: 2;
    opacity: 1;
    a{
        text-align: right;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        white-space: nowrap;
        text-decoration: none;
        font-weight: bold;
        color: $mgray;
        line-height: 2;
        position: relative;
        &:hover{
            color: #333;
            span{
                border-color: $morange;
                background: #FFF9E5;
            }
        }
        span{
            display: inline-block;
            background: $mgray;
            width: 15px;
            height: 15px;
            margin-left: 0.5em;
            border-radius: 50%;
            border:2px solid transparent;
        }
    }
    &.links-anime{
      
        .link-item{ 
            visibility: hidden;
            width: 0;
        }
    }
}

.step_box{
    background: #ffffffa1;
    border: 1px solid $mgray;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 30px;
    position: relative;
    margin-left: auto;
    margin-top: 20px;
    position: fixed;
    // top:70%;
    right: 10px;
    cursor: pointer;
    transition: all .2s;
    z-index: 99;
    &:hover{
        background: $morange;
        transition: all .2s;
        i{
            color: #fff;
            transition: all .2s;
        }
    }
    i{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        color: $mgray;
        transform: translateY(-50%);
        font-size: 1.8rem;
        transition: all .2s;
        
    }
}

.error{
    border: 1px solid #dc3545 !important;
    border-radius: 0.25rem !important;
}

  .error__label {
    padding: 5px 0px;
    color: #dc3545 !important;
    font-size: 0.95em !important;
    display: block !important;
    flex: 0 0 auto;
    width: 100%;
    &.error-design{
        display: inline;
        width: auto;
        flex: none;
    }
  }
  .alart_box{
    background: $myellow;
    font-weight: bold;
    position: fixed;
    right: 30px;
    top: 80%;
    z-index: 999999;
    padding: 1rem;
    border-radius: 10px;
    .fas.fa-times{
      font-size: 1.55rem;
      position: absolute;
      z-index: 999999;
      right: -10px;
      top: -10px;
      cursor: pointer;
      background: #000;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      font-size: 1.1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      &:hover{
        background: #dc3545;
      }
    }

  }




// 材質
.material_chose{
    max-width: 350px;
    margin: 1vw;
    label{
        position: relative;
        overflow: hidden;
        border-radius: 15px;
        display: block;
        border:5px solid transparent;
        cursor: pointer;
        height: 400px;
        @media screen and (max-width:1400px) {
            max-width: 250px;
            height: 300px;
        }
        @media screen and (max-width:991px) {
            height: 300px;
        }
        &::before{
            content:"";
            height: 100%;
            background: rgba($color: #000000, $alpha: 0.45);
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
        }
        &:hover{
            border-color: $myellow;
            .material_val{
                background: #FFF9E5;
            }
        }
    }
    input[type="radio"]{
        position: absolute;
        opacity: 0;
        z-index: -1;
        &:checked{
            &~label{
                border-color: $morange;
                box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.13);
                &::before{
                    content:none;
                }
                .material_val{
                    background: #FFF9E5;
                }
            }
        }
    }
    .material_val{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        background: $lgray;
        width: 100%;
        padding: 10px;
        display: block;
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        color: $textgray;
    }
    .pic_lable{
        
        img{
            aspect-ratio: 1 / 1;
            object-fit:cover;
            width: 300px;
            height: 340px;
            @media screen and (max-width:1400px) {
                width: auto;
                height: auto;
            }
            @media screen and (max-width:991px) {
                height: 300px;
            }
        }
    }
}

//款式
#design{
    border-bottom: none;
   position: relative;
   &::before{
    content: "";
    width: 100%;
    height: 24%;
    position: absolute;
    background: $lgray;;
    bottom: 0;
    left: 0;
}
}

.flex-auto{
    flex:auto;
}
.type_chose{
    margin: 0 5%;
    margin-top: 5%;
    .windowType,.doorType{
        margin:0 2vw 0;
        position: relative;
        &::before{
          content:"";
          position: absolute;
          width: 140%;
          height: 95%;
          background: $lgray;
          top: -10%;
          left: -20%;
          margin: auto;
          z-index: -1;
          border-radius: 10px;
        }
        label{
            position: relative;
            overflow: hidden;
            border-radius: 15px;
            display: block;
            max-width: 300px;
            border:5px solid transparent;
            cursor: pointer;
            @media screen and (max-width:1400px) {
                max-width: 250px;
                margin: auto;
            }
            &::before{
                content:"";
                height: 100%;
                background: rgba($color: #000000, $alpha: 0.45);
                width: 100%;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
            }
            &:hover{
                border-color: $myellow;
            }
        }
        input[type="radio"]{
            position: absolute;
            opacity: 0;
            z-index: -1;
            &:checked{
                &~label{
                    border-color: $morange;
                    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.13);
                    &::before{
                        content:none;
                    }
                }
            }
        }
    }
    .typeCategory{
        label{
            margin: 20px 20px 0;
            position: relative;
            overflow: hidden;
            border-radius: 50%;
            display: block;
            max-width: 100px;
            border:5px solid transparent;
            cursor: pointer;
            @media screen and (max-width:1400px) {
                max-width: 90px;
            }
            &::before{
                content:"";
                height: 100%;
                background: rgba($color: #000000, $alpha: 0.45);
                width: 100%;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
            }
            &:hover{
                border-color: $myellow;                
            }
            
        }
        input[type="radio"]{
            position: absolute;
            opacity: 0;
            z-index: -1;
            &:checked{
                &~label{
                    border-color: $morange;
                    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.13);
                    &::before{
                        content:none;
                    }
                }
            }
            &:disabled{
               &~label{
                cursor: no-drop;
               }
            }
        }
        p{
          text-align: center;
          position: relative;
        }
    }
}

.designName{
    font-weight: bold;
    font-size: 1.4rem;
    color:$textgray;
    margin-bottom: 0.3rem;
}


.active {
    outline: 5px solid #000;
  }
.label-set{
    // white-space: nowrap;
    text-align: right;
    line-height: 1.3;
}

.picOption{
    display: inline-block;
    max-width: 110px;
    width: 100px;
    // max-width: 80px;
    text-align: center;
    position: relative;
   
    &+.picOption{
        // margin-left:10px;
    }
    >label{
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        display: inline-block;
        max-width: 85px;
        border:5px solid transparent;
        cursor: pointer;
        transition: scale .2s;
        
        
        &:hover{
            border-color: $myellow;                
        }
       
        
    }
    input[type="radio"],input[type="checkbox"]{
        position: absolute;
        opacity: 0;
        z-index: -1;
        &:checked{
            &~label{
                border: 4px solid $morange;
                border-color: $morange;
                transform: scale(1.05);
                transition: scale .2s;
                box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.13);
            }
        }
    }
    p{
      text-align: center;
      line-height: 1;
      min-height: 2em;
      margin-bottom: 0;
      margin-top: 2px;
      font-size: 12.5px;
      word-wrap: break-word;
      white-space: pre-wrap;
    }
    .color-code{
        position: absolute;
        top: 0px;
        left: 0px;
        background: $morange;
        color: #fff;
        padding: 0.12rem 0.2rem;
        border-radius: 3px;
        min-height: 0;
        margin: 0;
    }
}



.fas.fa-question-circle{
    color: $textgray;
    cursor: help;
    &:hover{
        color: $morange;
        &+.info_box{
            display: block;
        }
    }
}

// 提示框
.info_box{
    background: rgba(37, 37, 37,0.85) ;
    color: #fff;
    // width: auto;
    max-width: 150%;
    padding: 0.2rem 0.5rem;
    position: absolute;
    right: -50px;
    // bottom:-100%;
    display: none;
    border-radius: 5px;
    z-index: 5;
    text-align: start;
    font-size: 0.95rem;
    min-width: 65px;
    p{
        margin: 0;
    }
    @media screen and (max-width:1400px) {
        width: 90%;
        right: 0;
    }
}
.errInput{
    border: 1px solid #dc3545 !important;
    &:focus{
        background-color: var(--bs-body-bg);
        border-color: #dc3545;
        box-shadow: 0 0 0 .25rem rgba(255, 30, 30, 0.25);
    }
}

label{
    position: relative;
}

.fa-solid.fa-circle-plus{
    cursor: pointer;
}

.close_btn{
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: -50px;
    transform: translateY(-50%);
    color: $dgray;
    z-index: 10;
    opacity: 0.5;
    background: #ccc;
    color: #fff;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 27px;
    font-size: 1.1rem;
    border-radius: 50%;
    &:hover{
        background: #dc3545;
        opacity: 1;
    }
    &.btn-right{
        transform: none;
        width: auto;
    }
    &.btn-right-2{
        right: -30px;
    }
    &.none_position{
        position: static;
        transform: none;
    }
    &.close_btn_2{
        right: unset;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    @media screen and (max-width:1400px) {
        position: static;
        transform: none;
        margin: auto;
        display: block;
        width: max-content;
        margin-top: 0.5rem;
    }
}
.add_btn{
    cursor: pointer;
    color: #888;
    opacity: 0.5;
    &:hover{
        color: $morange;
        opacity: 1;
    }
}
.add_text_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background:$textgray;
    border-radius: 10px;
    padding: 0.5rem 0.8rem;
    opacity: 0.5;
    color: #fff;
    .add_btn{
        color: #fff;
        opacity: 1;
    }
    &:hover{
        opacity: 1;
        background: $morange;
    }
    &:disabled{
        background: $textgray !important;
        opacity: 0.2; 
        cursor:not-allowed;
    }
}
.max-img{
    img{
        max-width: 120px;

    }
}

.active_selected{
    border-color: $morange !important;
    // box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.13);
    .material_val{
        background: #FFF9E5;
    }
}

.links{
    .active{
        outline:none;
        color:$morange;
        span{
            background:$morange;
        }
    }
}

.exclamation-info{
    background: $myellow;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem 0;
    font-size: 1.1rem;
    i{
        font-size: 1.25rem;
    }
    
}

// 上傳圖片框
.special_img{
    position: relative;
    .special_img_box{
        position: relative;
        // width: 150px;
        border-radius: 0.5rem;
        // overflow: hidden;
        max-width: 1200px;
        max-width: 100%;
        &.no-img{
            background-image: url(../images/icon-upload_img.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 8%;
            border: 2.5px dashed rgba(89, 89, 125, 0.6);
            opacity: 0.2;
            min-height: 150px;
        }
        .upload-img{
            cursor: pointer;
            position: absolute;
            inset: 0;
            opacity: 0;
            max-width: 100%;
        }
        img{
            border-radius: 0.5rem;
        }
        .fas.fa-image{
            font-size: 2rem;
            // color:#555;
        }
    }
    .special_img_close{
        display: none;
        position: absolute;
        right: 20px;
        top: 10px;
        z-index: 99999;
    }
    &:hover{
        .special_img_close{
            display: block;
            i{
                opacity: 1;
                background: #dc3545;
            }
           
        }
    }
}



@keyframes fly {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0px);
    }
}
