/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.en-main {
  font-size: 0.95rem;
}
.en-main .btn {
  font-size: 0.95rem;
}
.en-main .btn-home i {
  font-size: 1.8rem;
}
.en-main .btn-home h2 {
  font-size: 1.25rem;
}
.en-main .form-control {
  font-size: 0.95rem;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=radio], input[type=checkbox] {
  accent-color: #F6930E;
}
input[type=radio]:disabled, input[type=checkbox]:disabled {
  opacity: 0.5;
  border-color: #AEAEAE;
}
input[type=radio]:disabled ~ label, input[type=radio]:disabled ~ span, input[type=checkbox]:disabled ~ label, input[type=checkbox]:disabled ~ span {
  color: #AEAEAE;
  opacity: 0.5;
}

.form-check-input {
  width: 1.1em;
  height: 1.1em;
}
.form-check-input:checked {
  background-color: #F6930E;
  border-color: #F6930E;
}
.form-check-input:focus {
  border-color: #FAC000;
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(224, 80, 13, 0.25);
}

.form-control {
  border-color: #ccc;
}
.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(224, 80, 13, 0.25);
  border-color: #F6930E;
}

.form-select {
  border-color: #ccc;
}

input[type=date]:focus::before,
input[type=date]:valid::before {
  content: "" !important;
}

.date-input {
  display: flex;
}
.date-input input {
  text-align: center;
}
.date-input input:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}
.date-input input:last-child {
  border-radius: 0 0.5rem 0.5rem 0;
}
.date-input span {
  border-block: 1px solid #ccc;
  padding: 0 0.25rem;
  align-self: baseline;
  height: 100%;
  line-height: 35px;
}

input[type=date]:focus::before,
input[type=date]:valid::before {
  display: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.flex-1 {
  flex: 1;
}

header {
  padding: 15px 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
  z-index: 50;
}
header img {
  max-width: 150px;
}
header label {
  font-weight: bold;
}
header select {
  border-radius: 2px;
  padding: 2px 5px;
  border-color: #ccc;
}
header .method_nav {
  position: relative;
  min-width: 150px;
  cursor: pointer;
}
header .method_nav ul {
  position: absolute;
  background: #fff;
  left: -1px;
  width: calc(100% + 2px);
  border-radius: 0.5rem;
  border: 1px solid #ddd;
  border-top: 0;
  top: 110%;
}
header .method_nav ul li a, header .method_nav ul li button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 0.5rem 0.8rem;
  text-wrap: nowrap;
}
header .method_nav ul li:hover {
  background: #F6930E;
}

footer {
  background: #FFF9E5;
  text-align: center;
  padding: 0.8rem;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

.cursor-pointer {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #333;
}

button {
  border: none;
  background: none;
}

.box_shadow {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
}

.not-page {
  text-align: center;
  position: relative;
}
.not-page > div {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.container {
  max-width: 1780px;
  padding: 0 2%;
}
.container-original {
  max-width: 1320px;
}
.container-note {
  max-width: 1300px;
  margin: auto;
}

.bg-block {
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 65px - 30px - 20px);
  background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("../images/login_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 85%;
}
.bg-block option {
  font-size: 1rem;
}
.bg-block .title {
  color: #707070;
  font-size: 1.8rem;
  letter-spacing: 1px;
  margin: 0;
  font-weight: bold;
}
.bg-block .total-data {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  padding: 1rem 3rem;
  background: #FFF9E5;
}

.tag {
  padding: 0rem 0.5rem;
  font-size: 0.95rem;
  min-width: 80px;
  min-height: 25px;
  text-align: center;
  border-radius: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 150px;
  margin: auto;
}
.tag-material {
  border-radius: 0.5rem;
  border: 1px solid #999;
}
.tag-org {
  background: #F6930E;
}
.tag-blue {
  background: #80BFFE;
}
.tag-gray {
  background: #9D9D9D;
}
.tag-green {
  background: #91DE91;
}
.tag-yellow {
  background: #ffe738;
}

.table-box {
  background: #ffffff;
  padding: 3rem 3.5rem;
  border-radius: 25px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
  min-height: 400px;
}
.table-box .table-inner {
  overflow: auto;
}
.table-box .table-inner::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(249, 93, 58, 0.3);
  background-color: #F1F1F1;
}
.table-box .table-inner::-webkit-scrollbar {
  width: 4px;
  background-color: black;
}
.table-box .table-inner::-webkit-scrollbar-thumb {
  background-color: #F6930E;
}
.table-box .table {
  text-align: center;
  vertical-align: middle;
}
.table-box .table thead {
  position: sticky;
  top: 0px;
  vertical-align: middle;
}
.table-box .table thead th {
  background: #FAC000;
}
.table-box .table thead th:last-child {
  border-radius: 0 10px 10px 0;
}
.table-box .table thead th:first-child {
  border-radius: 10px 0 0 10px;
}
.table-box .table td {
  padding: 1rem 0.5rem;
}
.table-box .table td:last-child {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
@media screen and (max-width: 1024px) {
  .table-box .table td:last-child {
    flex-direction: column;
  }
  .table-box .table td:last-child a, .table-box .table td:last-child button {
    flex: 1;
  }
}

.btn.sent_go {
  background: #F6930E;
  color: #fff;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
}
.btn.cancel {
  background: #bbb;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  color: #fff;
}
.btn.link {
  border: 1px solid #ccc;
  min-width: 110px;
  padding: 0.2rem 0.5rem;
  color: #707070;
  font-weight: bold;
}
.btn.link:hover {
  background: none;
  background: #FFF9E5;
  border-color: #F6930E;
}
.btn:hover {
  background: #FAC000;
}
.btn-home {
  background: #F1F1F1;
  color: #707070;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  padding: 2rem 0.5rem;
  border-radius: 15px;
  max-width: 90%;
  margin: auto;
  aspect-ratio: 0.8/0.5;
  position: relative;
  transition: transform 0.5s, box-shadow 0.5s;
}
.btn-home i {
  font-size: 2rem;
}
.btn-home h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
}
.btn-home::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/oranege_bg.png) center/cover no-repeat;
  transition: opacity 0.3s;
  border: 7px solid #F6930E;
  border-radius: 15px;
  opacity: 0;
}
.btn-home:hover {
  color: #fff;
  z-index: 5;
  transform: translateY(5px);
  box-shadow: none;
  transition: transform 0.5s, box-shadow 0.5s;
}
.btn-home:hover::after {
  opacity: 1;
  z-index: -1;
}
.btn.search {
  border: 1px solid #ccc;
  min-width: 80px;
  padding: 0.2rem 0.5rem;
  color: #707070;
  font-weight: bold;
}
.btn.search:hover {
  background: none;
  background: #FFF9E5;
  border-color: #F6930E;
}

.method-btn {
  border: 1px solid #ccc;
  color: #707070;
  padding: 0.2rem 0.5rem;
  font-weight: bold;
  border-radius: 5px;
}
.method-btn:hover {
  background: #FFF9E5;
  border-color: #F6930E;
}
.method-btn.large {
  min-width: 80px;
}

.home-order {
  background: #fff;
  padding: 1rem 1.5rem;
  border-radius: 15px;
  border: 2px solid transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}
.home-order .createtime {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-size: 0.95rem;
  padding-bottom: 0.7rem;
}
.home-order .createtime::after {
  content: "";
  position: absolute;
  display: block;
  background: #ebe7e7;
  width: 105%;
  height: 1px;
  left: -10px;
  bottom: 0;
}
.home-order .createtime span:first-child {
  color: #ccc;
}
.home-order i {
  position: absolute;
  right: 30px;
  bottom: 20px;
  font-size: 1.5rem;
  color: #ccc;
}
.home-order:hover {
  background: #FFF9E5;
  border: 2px solid #F6930E;
  transform: scale(1.05);
  transition: all 0.5s;
}
.home-order:hover i {
  color: #F6930E;
}

.user-data {
  margin-bottom: 1rem;
}
.user-data span {
  color: #707070;
  font-weight: bold;
}
@media screen and (max-width: 1400px) {
  .user-data span {
    padding-left: 0;
  }
}
.user-data > div, .user-data input {
  padding: 0 0.5rem;
  width: auto;
  margin-top: 0.5rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2px;
  min-height: 27px;
}
.user-data > div.form-control, .user-data input.form-control {
  width: 100%;
  padding: 0.2rem 0.5rem;
  margin-top: 0;
  border-color: #ccc;
}
.user-data.row > .form-box {
  position: relative;
  padding: 0;
  border: none;
  width: 35%;
}
@media screen and (max-width: 1200px) {
  .user-data.row > .form-box {
    width: 100%;
  }
}
.user-data .error__label {
  position: absolute;
  left: 0;
  padding: 0;
  font-weight: normal;
}

.selectBtn {
  font-size: 0.95rem;
}

.multiSelect {
  position: relative;
  cursor: pointer;
}
.multiSelect .option-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: #fff;
  width: 250px;
  z-index: 99;
  position: absolute;
  max-height: 200px;
  overflow: auto;
}
@media screen and (max-width: 992px) {
  .multiSelect .option-group {
    width: 100%;
  }
}
.multiSelect .option-group input {
  margin-right: 5px;
}

.pages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
}
.pages button {
  border: 1px solid #F6930E;
  color: #F6930E;
  border-radius: 5px;
  padding: 0.15rem 0.6rem;
}
.pages button:hover {
  color: #fff;
  background: #F6930E;
}
.pages-active {
  background: #F6930E;
  color: #fff !important;
}

.export-mode-box {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  top: 105%;
  border-radius: 5px;
}
.export-mode-box div {
  padding: 0.25rem;
  border: 1px solid #707070;
  background: #fff;
  border-top: none;
}
.export-mode-box div:hover {
  background: #F6930E;
  color: #fff;
  border-color: #F6930E;
}

#list-setting .checkbox {
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  text-align: start;
  border-radius: 5px;
  cursor: pointer;
}
#list-setting .checkbox.checked {
  background: #FFF9E5;
  border-color: #F6930E;
}
#list-setting #close {
  background: #FF3E01;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -15px;
  top: -15px;
}
#list-setting #close i {
  color: #fff;
  font-size: 1.5rem;
}

.new_msg {
  min-width: 200px;
  text-align: center;
  margin-right: 6rem;
  cursor: pointer;
}
.new_msg .fa-times-circle {
  font-size: 1.25rem;
}
.new_msg i {
  margin-left: 5px;
}
.new_msg:hover {
  background: #F6930E;
}
@media screen and (max-width: 1200px) {
  .new_msg {
    margin-right: 0;
  }
}

.msg-box {
  border: 1px solid #eee;
  width: 85%;
  max-width: 1000px;
  margin: auto;
  padding: 2rem 3rem;
  height: 55vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.25);
}
.msg-box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(249, 93, 58, 0.3);
  background-color: #F1F1F1;
}
.msg-box::-webkit-scrollbar {
  width: 6px;
  background-color: black;
}
.msg-box::-webkit-scrollbar-thumb {
  background-color: #F6930E;
}
.msg-box .msg-inner {
  width: 100%;
  margin-bottom: 0.5rem;
  word-break: break-all;
  max-width: 60%;
}
.msg-box .msg-inner .msg-name {
  margin-left: -30px;
  margin-bottom: 0.5rem;
  display: flex;
  width: max-content;
  word-break: auto-phrase;
  gap: 10px;
}
.msg-box .msg-inner .msg-name .bg-manager {
  color: #F6930E;
}
.msg-box .msg-inner .msg-name .bg-dealer {
  color: #FAC000;
}
.msg-box .msg-inner .msg-name .bg-member {
  color: #80BFFE;
}
.msg-box .msg-inner .msg-name .bg-my_roles {
  color: #91DE91;
}
.msg-box .msg-inner .msg-name i {
  font-size: 0.6rem;
}
.msg-box .msg-inner .msg-name p {
  margin-bottom: 0;
  font-weight: bold;
}
.msg-box .msg-inner .msg-name p:last-child {
  line-height: 1;
  font-weight: normal;
}
@media screen and (max-width: 1024px) {
  .msg-box .msg-inner {
    width: 90%;
    max-width: 90%;
  }
}
.msg-box .msg-inner .content {
  width: fit-content;
  background: #eee;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  position: relative;
}
.msg-box .msg-inner .content::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12.5px 30.7px 4px 0px;
  border-color: transparent #eeeeee transparent transparent;
  position: absolute;
  left: -10px;
  top: 50%;
  transform: rotate(20deg) translateY(-160%);
  margin-left: -14px;
}
.msg-box .msg-inner .content::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12.5px 30.7px 4px 0px;
  border-color: transparent rgba(0, 0, 0, 0.25) transparent transparent;
  position: absolute;
  left: -10px;
  top: 50%;
  transform: rotate(20deg) translate(0px, -160%);
  margin-left: -14px;
  z-index: -1;
}
.msg-box .msg-inner .time {
  font-size: 0.95rem;
  display: block;
  width: fit-content;
  margin: 0.5rem 0.5rem;
  color: #ccc;
}
.msg-box .msg-inner.my_msg {
  margin-left: auto;
  flex-direction: row-reverse;
}
.msg-box .msg-inner.my_msg .msg-name {
  text-align: end;
  margin-left: auto;
  flex-direction: row-reverse;
  margin-right: -25px;
}
.msg-box .msg-inner.my_msg .msg-name i {
  right: -20px;
}
.msg-box .msg-inner.my_msg .content {
  background: #FFF9E5;
  margin-left: auto;
}
.msg-box .msg-inner.my_msg .content::after {
  left: initial;
  margin-right: -14px;
  border-color: transparent #FFF9E5 transparent transparent;
  transform: rotate(155deg) translateY(150%);
  right: -10px;
}
.msg-box .msg-inner.my_msg .content::before {
  right: -10px;
  left: initial;
  margin-right: -14px;
  margin-left: 0;
  transform: rotate(180deg) translate(0px, 48%);
}
.msg-box .msg-inner.my_msg .time {
  margin-left: auto;
}
.msg-box .for_msg {
  width: 50%;
  position: sticky;
  bottom: 20px;
  margin-left: auto;
  margin-right: -1.5rem;
  margin-top: auto;
}
@media screen and (max-width: 1024px) {
  .msg-box .for_msg {
    width: 100%;
    margin-right: 0;
    bottom: 15px;
  }
}
.msg-box .for_msg .msg_height_box {
  padding: 1rem;
  visibility: hidden;
  word-wrap: break-word;
  min-height: 18vh;
  max-height: 150px;
}
.msg-box .for_msg textarea {
  width: 100%;
  min-height: 18vh;
  max-height: 150px;
  border: none;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  resize: none;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 7px;
}
.msg-box .for_msg textarea:focus {
  outline: none;
}
.msg-box .for_msg .sent_go {
  padding: 0.15rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  margin-bottom: -38px;
  font-weight: bold;
  background: #FAC000;
  color: #333;
}

.to_bottom {
  background: #FAC000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  padding: 0.8rem 0;
  right: 60px;
  cursor: pointer;
  position: absolute;
  bottom: 100px;
  margin-left: auto;
}

.show_textarea {
  background: #80BFFE;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  padding: 0.8rem 0;
  cursor: pointer;
  position: absolute;
  right: 60px;
  bottom: 50px;
  margin-left: auto;
}
.show_textarea:hover {
  background: #F6930E;
}
.show_textarea i {
  color: #fff;
}

.loading {
  position: fixed;
  inset: 0;
  background: rgba(3, 3, 3, 0.15);
  z-index: 9999;
}
.loading img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  width: 30%;
  height: 30%;
}

.grecaptcha-badge {
  display: none;
}

/* <transition name="fade">  */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

.flatpickr-day.selected {
  background: #F6930E !important;
  border-color: #F6930E !important;
}

.table-info {
  display: inline-block;
  margin-left: auto;
  font-size: 0.9rem;
  margin-top: -1rem;
}
@media screen and (max-width: 768px) {
  .table-info {
    display: block;
    margin: 0;
  }
}

.new-comment {
  position: absolute;
  right: -10px;
  top: -10px;
  background: #e94c5b;
  color: #fff;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 0.8rem;
}/*# sourceMappingURL=custom.css.map */